#container{
    width: 1000px;
    height: 400px;
    margin-left: 400px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
h2{
    margin-top: 0;
    color: gray;
}
#inContainer{
    height: 350px;
    column-count: 2;
    column-width: 300px;
    column-gap: 150px;
    break-before: avoid-column;
}