body{
    background-color: #08DCCF;
}
div{
    width: 420px;
    height: 80px;
    background-color: bisque;
    overflow: auto;
    margin: 50px;
    text-align: justify;
    color: orange;
    padding: 8px;
    text-indent: 20px;
}
#block2{
    width: 420px;
    height: 80px;
    background-color: bisque;
    overflow: scroll;
    margin: 50px;
    color: orange;
    padding: 8px;
    word-spacing: 8px;
    text-indent: 20px;
}
.top-line{
    width: 420px;
    height: 1px;
    border-bottom: yellow 1px solid;
    background-color: #08DCCF;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: -46px;
}
.bottom-line{
    width: 420px;
    height: 1px;
    background-color: #08DCCF;
    border-top: yellow 1px solid;
    margin-left: 50px;
    margin-top: -46px;
    margin-bottom: 50px;
}