@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
    box-sizing: border-box;
}
.block{
    width: 600px;
    height: 450px;
    outline: 1px dotted red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    margin-left: 700px;
}
.heading{
    height: 50px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}
img{
    display: inline-block;
    margin-top: 30px;
}
.info{
    height: 400px;
    width: 280px;
    position: absolute;
    display: inline-block;
    background-color: #E4E4E4;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.name{
    color: #237BB2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.description{
    margin-top: 30px;
    color: #3B3B3B;
}
.cost{
    width: 200px;
    height: 80px;
    background-color: #DB001D;
    color: yellow;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 29px;
    line-height: 80px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
    margin-left: 35px;
}
.button1{
    width: 100px;
    height: 40px;
    border-right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #F0A400;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.button2{
    height: 40px;
    width: 40px;
    margin-top: 30px;
    background-color: #F0A400;
    color: white;
    font-weight: 700px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -6px;
    cursor: pointer;
}