*{
    box-sizing: border-box;
}
nav{
    width: 620px;
    height: 120px;
    border: 1px #D31DB8 solid;
}
#heading{
    position: relative;
    top: 5px;
    display: inline;
    width: auto;
    margin: 0;
    background-color: #D31DB8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 21px;
    font-weight: 800;
}
ul{
    display: block;
    margin-left: -20px;
    margin-top: 20px;
    
}
ul li{
    display: inline-block;
    margin-left: 20px;

}