.container{
    width: 200px;
    height: 160px;
    border: 1px gray solid;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px gray;
    padding: 3px;
}
#heading{
    height: 30px;
    color: white;
    background-color: #CB69FF;
    padding: 3px;
    border-radius: 7px;
    font-size: 22px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.color_container{
    margin: 5px;
}
.color_container div{
    display: inline-block;
    width: 29px;
    height: 29px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
    margin: 1px;
    cursor: pointer;
}
.color_container div:hover{
    outline-offset: 1px;
    outline: 3px solid purple; 
}
.beige{
    background: linear-gradient(to top left,#fffff9, #F5F5DC);
}
.light_blue{
    background: linear-gradient(to top left, #94C4E4, #DFE2E4);
}
.yellow{
    background: linear-gradient(to top left, #FFFF00, #FFFFC7);
}
.green{
    background: linear-gradient(to top left, #50A923, #1FE700);
}
.brown{
    background: linear-gradient(to top left, #D54300, #D56D04);
}
.red{
    background: linear-gradient(to top left, #FF0000, #FF8B8B);
}
.golden{
    background: linear-gradient(to top left, #FFD700, #FFEF97);
}
.light_pink{
    background: linear-gradient(to top left, #FFC0CB, #FFEDF0);
}
.gray{
    background: linear-gradient(to top left, #BEBEBE, #E1E1E1);
}
.blue{
    background: linear-gradient(to top left, #0000FF, #6868FF);
}
.purple{
    background: linear-gradient(to top left, #9F00C5, #B162C5);
}
.black{
    background: linear-gradient(to top left, #000000, #6E6E6E);
}