ul {
    position: absolute;
    width: 200px;
    display: block;
    list-style: none;
    text-transform: uppercase;
    border-left: #CECCD0 solid 8px;
}
ul li{
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    display: inline;
    float: left;
}
ul li:hover{
    background-color: #D05652;
    color: white;
    cursor: pointer;
}